/*************************************************
    GENERAL STYLES
 *************************************************/
 *{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
 }

/*************************************************
    STYLES
 *************************************************/ 
    /* HEADER */
    header {
        width: 100%;
        height: 12vh;
        background-color: whitesmoke;
        display: flex;
        justify-content: space-between;
        align-items: center;
     }
        /* Header-left */
        .header-left{
            height: 80%;
            width: 50%;
            display: flex;
            align-items: center;
         }
            .header-left .img{
                width: 50px;
                height: 50px;
             }
                .header-left .img img{
                    width: 100%;
                    height: 100%;
                }
        /* Header-right */
        .header-right {
            padding: 10px;
         }
            .header-right button {
                padding: 5px;
            }

    /* MAIN */
    main {
        width: 100%;
        height: 76vh;
        padding-top: 5rem;
        background-color:rgb(50, 101, 84) ;

     }
        #griglia {
            width: 50%;
            height: 80%;
            margin: auto;
            display: flex;
            flex-wrap: wrap;
         }
            #griglia .box{
                width:calc(100% / 10);
                height: calc(100% / 10);
                border: solid 1px black;
                display: flex;
                justify-content: center;
                align-items: center;
             }

             #griglia .box-1{
                width:calc(100% / 9);
                height: calc(100% / 9);
                border: solid 1px black;
                display: flex;
                justify-content: center;
                align-items: center;
             }
             #griglia .box-2{
                width:calc(100% / 7);
                height: calc(100% / 7);
                border: solid 1px black;
                display: flex;
                justify-content: center;
                align-items: center;
             }

             .click{
                background-color: rgb(0, 195, 255);
              }


 footer{
    width: 100%;
    height: 12vh;
    background-color: whitesmoke;
 }